.theme .container {
  max-width: 60rem;
}
.custom-block {
  position: relative;
  padding: 0.1rem 1.5rem;
  margin: 1rem 0;
  border-left-width: 0.5rem;
  border-left-style: solid;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
 
}
.custom-block::before {
  position: absolute;
  top: 19px;
  left: -14px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border-radius: 100%;
}
.custom-block p {
  color: #222;
}
.custom-block .custom-block-title {
  font-weight: 600;
  margin-bottom: -0.4rem;
}

.custom-block.tip {
  background-color: #f3f5f7;
  border-color: var(--c-brand);
}
.custom-block.tip::before {
  content: var(--c-tip);
  width: 25px;
  height: 25px;
  left: -16px;
}

.custom-block.info {
  background-color: #f3f5f7;
  border-color: #476582;
}
.custom-block.info::before {
  content: var(--c-info);
  width: 25px;
  height: 25px;

  box-sizing: border-box;
}

.custom-block.warning {
  border-color: #e7c000;
  color: #6b5900;
  background-color: #ffe5644d;
}
.custom-block.warning .custom-block-title {
  color: #b29400
}
.custom-block.warning::before {
  content: var(--c-warn);
  width: 25px;
  height: 25px;
  left: -16px;
  box-sizing: border-box;
}
.custom-block.danger {
  border-color: #c00;
  color: #4d0000;
  background-color: #ffe6e6
}

.custom-block.danger .custom-block-title {
  color: #900
}
.custom-block.danger::before {
  content: var(--c-danger);
  width: 25px;
  height: 25px;
  left: -16px;
}
.custom-block.tip, 
.custom-block.info, 
.custom-block.warning, 
.custom-block.danger {
  overflow-x: initial !important;
}
.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
  font-size: inherit;
  cursor: pointer !important;
  font-weight: bold;
  opacity: 1 !important;
}
.badge {
  padding: 0.25rem 0.25rem;
  margin-right: 0.5rem;
  background-color: #b00000;
  border: 2px solid #b00000;
  font-size: 0.8rem;
  border-radius: 5px;
  color: #fff;

}
.dropdown-wrapper .nav-dropdown .dropdown-item h4 {
  margin-bottom: 0.3rem !important;
}
