.theme .container {
  max-width: 60rem;
}

.custom-block {
  margin: 28px 0;
  padding: 20px 24px 4px 42px !important;
  border-radius: 8px;
  overflow-x: auto;
  transition: color 0.5s, background-color 0.5s;
  position: relative;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.55);
  background-color: var(--c-white-dark);
}

.custom-block:before {
  position: absolute;
  font-weight: 600;
  font-size: 24px;
  top: 13px;
  left: 17px;
}

.custom-block-title {
  margin-top: 0px;
  font-size: 15px;
  font-weight: 500;
  color: var(--c-text);
  transition: color 0.5s;
}


/* tip */
.custom-block.tip {
  border: 1px solid var(--c-brand);
}
.custom-block.tip .custom-block-title {
  color: var(--c-brand);
}

.custom-block.tip:before {
  color: var(--c-brand);
}

.custom-block.tip:before {
  content: '🅞';
  left: 16px;
}

/* path */
.custom-block.warning {
  border: 1px solid #b29400;
  background-color: var(--c-white-dark);
}

.custom-block.warning:before {
  color: #b29400;
}

.custom-block.warning:before {
  content: '🅟';
  left: 16px;
}

/* info */
.custom-block.info {
  border: 1px solid var(--c-text-light-2);
  background-color: var(--c-white-dark);
}

.custom-block.info:before {
  color: var(--c-text-light-2);
}

.custom-block.info:before {
  content: '🅔';
  left: 16px;
}


/* danger */
.custom-block.danger {
  border: 1px solid #ed3c50;
  background-color: var(--c-white-dark);
}

.custom-block.danger .custom-block-title {
  color: #ed3c50;
}

.custom-block.danger:before {
  color: #ed3c50;
}

.custom-block.danger:before {
  content: '🅝';
  left: 16px;
}



/* 🅐🅑🅒🅓🅔🅕🅖🅗🅘🅙🅚🅛🅜🅝🅞🅟🅠🅡🅢🅣🅤🅥🅦🅧🅨🅩 */